In [33]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [34]:
vol(2)

33.49333333333333

In [54]:
def ran_check(num,low,high):
    if num in range(low,high):
        print('{} is in range between {} and {}'.format(num,low,high))
    else:
        print('number outside range.')

In [69]:
def checl(num,low,high):
    #Check if num is between low and high (including low and high)
    if num in range(low,high+1):
        print('{} is in the range between {} and {}'.format(num,low,high))
    else:
        print('The number is outside the range.')

In [70]:
checl(2,1,7)

2 is in the range between 1 and 7

In [59]:
def bool(num,low,high):
    return num in range(low,high)

In [61]:
ran_bool(6,5,7)

True

In [75]:
def up_low(s):
    for c in s:
        if c.isupper():
        elif c.islower():
        
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

IndentationError: expected an indented block (<ipython-input-75-c807bf476dd5>, line 4)

In [73]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

In [81]:
def up_low(s):
    d={"upper":1, "lower":1}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [82]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  5
No. of Lower case Characters :  34

In [109]:
list={1,1,1,1,2,2,3,3,3,3,4,5}
set(list)

{1, 2, 3, 4, 5}

In [170]:
def multiply(numbers):
    total=1
    for x in numbers:
        total*=x
    return total

In [171]:
multiply([2,5,2])

20